extends ../layouts/common

block content
    .container-fluid.mb-3.hide
        .row
            .col-sm-4
            .col-sm-4
                h1 Log in

                if errs
                  each err in errs
                    //-   .alert.alert-danger= err
                    div(id="errsnackbar") &#10006 #{err}
                        script(type="text/javascript").
                            var errsnackbar = document.getElementById("errsnackbar");
                            errsnackbar.className="show";
                            setTimeout(()=>{errsnackbar.className=errsnackbar.className.replace("show","")},3000);

                form(action="/auth/login", method="POST")
                    .form-group
                        input(type="hidden", name="_csrf", value=csrfToken)

                        label(for="email") Username
                        input#email.form-control(name="email", type="text", value=values ? values.email : '')

                        label(for="password") Password
                        input#password.form-control(name="password", type="password", value=values ? values.password: '')

                    button.btn.btn-primary Log in
            .col-sm-4