html

    head
        link(rel="stylesheet", href="/styles/dropdown.css")
        link(rel="icon", type="image/jpg", href="/images/002-layers.png")
        link(rel="stylesheet", href="/styles/snackbar.css")

        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js',
            integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(type='text/javascript', src='http://code.jquery.com/jquery-2.0.2.js')
        script(src='https://code.jquery.com/jquery-3.4.1.min.js')


        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js',
            integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js',
            integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
        //script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')

        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")

        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
        script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')

        //script(type='text/javascript', src='http://code.jquery.com/jquery-2.0.2.js')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        //Display Tooltip
        //script(src='https://code.jquery.com/jquery-3.4.1.min.js')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')

        script(src='https://cdn.jsdelivr.net/npm/marked/marked.min.js')


        script(type='text/javascript', src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')
        script.
          $(function () {
            $('body').tooltip({selector: '[data-toggle="tooltip"]'});
          });
          $(function () {
            $(function () {
              $('[data-toggle="tooltip"]').tooltip();
            });
          });
        //link(rel="icon", href="http://sstatic.net/stackoverflow/img/favicon.ico")
    body(style="background-image: url('/images/3563935 (1).jpg'); background-position: center; background-repeat: no-repeat; background-attachment: fixed; min-width: 100%; min-height: 100%; background-size: cover;")

        script.
          // var $ar = jQuery.noConflict();
          $(function () {
            $('[data-toggle="tooltip"]').tooltip();
          });
          $('.hide').on('copy paste cut drag drop', function (e) {
            e.preventDefault();
          });
        div
            img.cropimg(src="/images/27240 (1).jpg", alt='Navigation img', width="100%", height="auto")
        .sticky-top
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                a.navbar-brand(href='/') MySchool.io
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav',
                    aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link(href='/', data-toggle='tooltip', data-placement='right', title='Home page') Home
                        li.nav-item
                            a.nav-link(href='/school/announcements', data-toggle='tooltip', data-placement='right', title='View your announcement!') Announcements
                        li.nav-item
                            a.nav-link(href='/users', data-toggle='tooltip', data-placement='right', title='View info')= (userInfo.role === 10 ? 'User List': 'Your Info')
                        li.nav-item
                            a.nav-link(href='/auth/login', class=userInfo.name === " " ? 'nav-link': 'nav-link disabled', hidden=userInfo.name !== ' ') Log in
                        if (userInfo.role === 10)
                            li.nav-item
                                a.nav-link(href='/users/create', data-toggle='tooltip', data-placement='right', title='Create a new account') Create Account
                        if (userInfo.role === 0)
                            li.nav-item
                                a.nav-link(href='/users/register', data-toggle='tooltip', data-placement='right', title='Register for courses!') Course Registration
                        if (userInfo.role !== 10)
                            li.nav-item
                                a.nav-link(href='/users/schedule', data-toggle='tooltip', data-placement='right', title='See your schedule!') Schedule
                        if (userInfo.role === 1)
                            li.nav-item
                                a.nav-link(href='/school/courseAllocation', data-toggle='tooltip', data-placement='right', title='Download your student lists') Download Student Lists
                        if (userInfo.role === 10)
                            li.nav-item.dropdown
                                button#dropdownMenuButton.btn.btn-primary.dropdown-toggle(type='button',
                                    data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Admin functions
                                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                                    a.dropdown-item(href='/school/createSubject', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Set subject's time
                                    a.dropdown-item(href='/school/assignTeacherToSubject', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Set subject's lecturer
                                    a.dropdown-item(href='/school/createAnnouncement', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Post new announcement
                                    a.dropdown-item(href='/school/createBatchSubject', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Create subjects

                            li.nav-item.dropdown.mx-2
                                button#dropdownMenuButton.btn.btn-danger.dropdown-toggle(type='button',
                                    data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dev functions
                                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                                    a.dropdown-item.disabled(href='/school/eliminate', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Eliminate Duplicates
                                    a.dropdown-item.disabled(href='/school/assign', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Assign
                                    a.dropdown-item.disabled(href='/school/generate', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Subject Generating
                                    a.dropdown-item.disabled(href='/school/createDepartment', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Create Department
                                    a.dropdown-item.disabled(href='/school/createDepartment/assignSubjectToDepartment', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Assign Subject to Department
                                    a.dropdown-item.disabled(href='/school/assignStandardSchedule', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Assign Standard Table
                                    a.dropdown-item.disabled(href='/school/assignStudentAndTeacherID', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Assign readable ID
                                    a.dropdown-item.disabled(href='/school/create100weeks', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Create 100 weeks
                                    a.dropdown-item.disabled(href='/school/create100rooms', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Create 100 rooms
                                    a.dropdown-item.disabled(href='/school/bind100roomsWith100weeks', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Bind 100 rooms with 100 weeks


                    #google_translate_element(style='position: relative; opacity: 1; z-index: 10;' hidden)
                            //button.btn.btn-primary(style='position: absolute; right: 0; bottom: -6; z-index: 0; width: 157px; ') Translate

                    .translation-links.mx-2
                        input.vietnamese.mx-2(type="image" src="/images/vietnam.png" width="40" data-lang='Vietnamese' style='border-radius: 10px;')
                        input.english(type="image" src="/images/america.png" width="40" data-lang='English' style='border-radius: 10px;')

                    script(type='text/javascript').
                      // jQuery.noConflict();
                      $(function () {
                        $('.translation-links input').on('click', function () {
                          var lang = $(this).data('lang');
                          var $frame = $('.goog-te-menu-frame:first');
                          if (!$frame.length) {
                            alert("Error: Could not find Google translate frame.");
                            return false;
                          }
                          $frame.contents().find('.goog-te-menu2-item span.text:contains(' + lang + ')').get(0).click();
                          return false;
                        });

                      });

                    script(type='text/javascript').
                      function googleTranslateElementInit() {
                        new google.translate.TranslateElement({
                          pageLanguage: 'en',
                          layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                        }, 'google_translate_element');
                      }


                    span.form-inline.my-2.my-lg-0=  userInfo.name
                    span &nbsp;
                    button.btn.btn-outline-secondary.form-inline.my-2.my-lg-0(type='button', onclick='logout()', hidden=userInfo.name === " ", disabled=userInfo.name === " ") Log out
                    script(type='text/javascript').
                      function logout() {
                        document.cookie = "userID=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                        // console.log(userInfo.name + "oops");
                        location.reload();
                        userInfo.name = " ";
                      }
            //div
            //    img.cropimg(src="/images/uni.jpg", alt='Navigation img', width="100%", height="auto", style='min-width: 100%; min-height: 100%; position: relative')

        .container.pt-3.my-5(style='background-color: white; border: 2px solid green; border-radius: 30px; height: auto;')
            block content
        .container.pt-3.my-5
        footer
            p
                | © MySchool.io
                br
                a(href='mailto:katyperrycbt@gmail.com', style='color: white;') katyperrycbt@gmail.com