html

    head
        link(rel="stylesheet", href="/styles/dropdown.css")
        link(rel="icon", type="image/jpg", href="/images/002-layers.png")
        link(rel="stylesheet", href="/styles/snackbar.css")
        link(rel="stylesheet", href="/styles/custom.css")
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js',
            integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(type='text/javascript', src='http://code.jquery.com/jquery-2.0.2.js')
        script(src='https://code.jquery.com/jquery-3.4.1.min.js')


        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js',
            integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js',
            integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
        //script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')

        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")

        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')

        script(src='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js')

        script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')

        //script(src='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js')
        //link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css')

        //script(type='text/javascript', src='http://code.jquery.com/jquery-2.0.2.js')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        //Display Tooltip
        //script(src='https://code.jquery.com/jquery-3.4.1.min.js')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')

        script(src='https://cdn.jsdelivr.net/npm/marked/marked.min.js')


        script(type='text/javascript', src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')
        script(src='https://apis.google.com/js/api.js')

        script.
          $(function () {
            $('body').tooltip({selector: '[data-toggle="tooltip"]'});
          });
          $(function () {
            $(function () {
              $('[data-toggle="tooltip"]').tooltip();
            });
          });

        //link(rel="icon", href="http://sstatic.net/stackoverflow/img/favicon.ico")
    body(style="background-image: url('/images/3563935 (1).jpg'); background-position: center; background-repeat: no-repeat; background-attachment: fixed; min-width: 100%; min-height: 100%; background-size: cover;")

        script(type='text/javascript').
          // var $ar = jQuery.noConflict();
          $(function () {
            $('[data-toggle="tooltip"]').tooltip();
          });
          $('.hide').on('copy paste cut drag drop', function (e) {
            e.preventDefault();
          });


          function time() {

            var d = new Date();
            var s = d.getSeconds();
            var m = d.getMinutes();
            var h = d.getHours();
            $("#www").text(("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2));
          }

          setInterval(time, 1000);

          function chill() {

            // Swal.fire('Hello');
            Swal.fire({
              title: 'Search for a movie. e.g. "La La Land".',
              input: 'text',
              inputAttributes: {
                autocapitalize: 'off'
              },
              showCancelButton: true,
              confirmButtonText: 'Look up',
              showLoaderOnConfirm: true,
              preConfirm: (login) => {
                return fetch(`https://itunes.apple.com/search?term=${login}&entity=movie`)
                    .then(response => {
                      if (!response.ok) {
                        throw new Error(response.statusText)
                      }
                      return response.json()
                    })
                    .catch(error => {
                      Swal.showValidationMessage(
                          `Request failed: ${error}`
                      )
                    })
              },
              allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
              // alert(result);
              // Swal.fire(result.results[0]);
              if (result.isConfirmed) {
                const movie = result.value.results[0];

                if (!movie) {
                  return Swal.fire("No movie was found!");
                }

                const name = movie.trackName;
                const imageURL = movie.artworkUrl100;
                const movieURL = movie.trackViewUrl;

                Swal.fire({
                  html: '<h1>Top result: <h5>' + name +'</h5><small id="myInputs" style="font-size:smaller;">' + movieURL
                      + '</small><br><button onclick="copyToClipboard(\'#myInputs\', this)" class="btn btn-outline-primary">Copy</button></h1>',
                  imageUrl: imageURL,
                });
              } else {
                Swal.fire('Oops!');
              }
            })
          }
          function chill2() {
            var accessToken = $('#getToken').val();


            // alert(typeof accessToken);
            Swal.fire({
              title: 'Search for a song. e.g. "Dynamite".',
              input: 'text',
              inputAttributes: {
                autocapitalize: 'off'
              },
              showCancelButton: true,
              confirmButtonText: 'Look up',
              showLoaderOnConfirm: true,
              preConfirm: (login) => {
                var url = 'https://api.spotify.com/v1/search?q=' + login + ' &type=track&limit=1&access_token=' + accessToken;
                return fetch(url)
                    .then(response => {
                      if (!response.ok) {
                        throw new Error(response.statusText)
                      }
                      return response.json()
                    })
                    .catch(error => {
                      Swal.showValidationMessage(
                          `Request failed: ${error}`
                      )
                    })
              },
              allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
              // alert(result);
              // Swal.fire(result.results[0]);
              if (result.isConfirmed) {
                const track = result.value.tracks;

                if (!track) {
                  return Swal.fire("No song was found! [Refresh page and try again!]");
                }

                const name = track.items;
                const ob = name[0];
                const external_URl = ob.external_urls;
                const link = external_URl.spotify;
                const imageURL = ob.album.images[1].url;

                String.prototype.splice = function (idx, rem, str) {
                  return this.slice(0, idx) + str + this.slice(idx + Math.abs(rem));
                };

                var emBed = link.splice(25, 0, "embed/");

                Swal.fire({
                  html: '<h1>Top result: <br><small id="myInput" style="font-size:smaller;">' + link
                      +'</small><br><button onclick="copyToClipboard(\'#myInput\', this)" class="btn btn-outline-primary">Copy</button></h1><br><iframe src="' + emBed
                      +'" width="300" height="380" frameborder="0" ' +
                      'allowtransparency="true" allow="encrypted-media" autoplay="true"></iframe>',
                  // imageUrl: imageURL,
                  confirmButtonText: `Play this snippet as background song`,
                  showCancelButton: true
                }).then((results) => {
                  if (results.isConfirmed) {
                    $("#backgroundSong").prop('hidden', "true");
                    playSong(emBed);
                  } else {
                  }
                });

              } else {
                Swal.fire('Oops!');
              }}
            )
          }

          function copyToClipboard(element, root) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).trigger('select');
            document.execCommand("copy");
            $temp.remove();
            $(root).html('Copied');
          }

          let parent
          function playSong(song) {
            if ($('embed#backgroundSong').parent() !== undefined) {
              parent = $('embed#backgroundSong').parent();
              $('embed#backgroundSong').remove();
              $("#stop").hide();
            }
            var newElement = "<embed src='" +song+ "' id='backgroundSong' style='float: left; border: 3px solid yellow; border-radius: 15px;' loop='false' width='auto' height='80'>";

            // $('embed#backgroundSong').remove();
            // $("#stop").hide();
            parent.append(newElement);
            $("#stop").show();
            // alert('zcurrent ' + $("#backgroundSong").attr('src'))
          }
          function stopSong() {
            var stopBTN = $("#stop");
            // stopBTN.on('click', () => {
            parent = $('embed#backgroundSong').parent();
            $('embed#backgroundSong').remove();
            var newElement = "<embed src='' id='backgroundSong' style='float: right;' loop='false' width='auto' height='80'>";
            parent.append(newElement);
            stopBTN.hide();
              // alert('parent ' + parent)
            // })
          }

          function chill3(){
            var apiKey = $('#getApiKey').val();

            Swal.fire({
              title: 'Search for a video. e.g. "Levitating".',
              input: 'text',
              inputAttributes: {
                autocapitalize: 'off'
              },
              showCancelButton: true,
              confirmButtonText: 'Look up',
              showLoaderOnConfirm: true,
              preConfirm: (login) => {
                var url = 'https://www.googleapis.com/youtube/v3/search?q='+login+'&maxResults=1&key=' + apiKey;
                return fetch(url)
                    .then(response => {
                      if (!response.ok) {
                        throw new Error(response.statusText)
                      }
                      return response.json()
                    })
                    .catch(error => {
                      Swal.showValidationMessage(
                          `Request failed: ${error}`
                      )
                    })
              },
              allowOutsideClick: () => !Swal.isLoading()
            }).then((result) => {
                  // alert(result);
                  // Swal.fire(result.results[0]);
                  if (result.isConfirmed) {
                    const items = result.value.items;

                    if (!items) {
                      return Swal.fire("No video was found! [Refresh page and try again!]");
                    }

                    const video = items[0];
                    const idVideo = video['id'];
                    const codeVideo = idVideo['videoId'];
                    const link = 'https://youtu.be/' + codeVideo;
                    const linkEm = 'https://www.youtube.com/embed/' + codeVideo;


                    Swal.fire({
                      html: '<h1>Top result: <br><small id="myInput3" style="font-size: smaller;">' + link
                          + '</small><br><button onclick="copyToClipboard(\'#myInput3\', this)" class="btn btn-outline-primary">Copy</button></h1><br><iframe src="' + linkEm
                          + '" width="100%" height="100%" frameborder="0" ' +
                          'allowtransparency="true" allow="accelerometer; autoplay; clipboard-write; ' +
                          'encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>',
                      // imageUrl: imageURL,
                      confirmButtonText: `Pin this video`,
                      showCancelButton: true
                    }).then((results) => {
                      if (results.isConfirmed) {
                        $("#backgroundVideo").prop('hidden', "true");
                        playVideo(linkEm);
                      } else {
                      }
                    });

                  } else {
                    Swal.fire('Oops!');
                  }
                }
            )
          }

          let parentVideo
          function playVideo(video) {
            if ($('embed#backgroundVideo').parent() !== undefined) {
              parentVideo = $('embed#backgroundVideo').parent();
              $('embed#backgroundVideo').remove();
              $("#stopVideo").hide();
              $("#mydiv").hide();
            }
            var newElement = "<embed src='" + video + "'id='backgroundVideo' allowtransparency='true' style='float: right; " +
                "border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;' loop='false' width='auto' height='200' " +
                "allow='accelerometer; autoplay; clipboard-write;picture-in-picture; encrypted-media; gyroscope;'>";
            parentVideo.append(newElement);
            $("#stopVideo").show();
            $("#mydiv").show();
          }

          function stopVideo() {
            // var stopBTN = $("#stopVideo");
            // stopBTN.on('click', () => {
              parentVideo = $('embed#backgroundVideo').parent();
              $('embed#backgroundVideo').remove();
              var newElement = "<embed src='' id='backgroundVideo' style='float: right;' loop='false' width='auto' height='200'>";
              parentVideo.append(newElement);
              // stopBTN.hide();
              $("#mydiv").hide();
            // })
          }
          // $("#backgroundVideo").resiz

        if (spotifyToken)
            input#getToken(type='hidden', value=spotifyToken)
        if (youtube)
            input#getApiKey(type='hidden', value=youtube)
        div
            img.cropimg(src="/images/27240 (1).jpg", alt='Navigation img', width="100%", height="auto")
        .sticky-top
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                a.navbar-brand(href='/') MySchool.io
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav',
                    aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNav.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link(href='/', data-toggle='tooltip', data-placement='top', title='Home page') Home
                        li.nav-item
                            a.nav-link(href='/school/announcements', data-toggle='tooltip', data-placement='top', title='View your announcement!') Announcements
                        li.nav-item
                            a.nav-link(href='/users', data-toggle='tooltip', data-placement='top', title='View info')= (userInfo.role === 10 ? 'User List': 'Your Info')
                        li.nav-item
                            a.nav-link(href='/auth/login', class=userInfo.name === " " ? 'nav-link': 'nav-link disabled', hidden=userInfo.name !== ' ') Log in
                        if (userInfo.role === 10)
                            li.nav-item
                                a.nav-link(href='/users/create', data-toggle='tooltip', data-placement='top', title='Create a new account') Create Account
                        if (userInfo.role === 0)
                            li.nav-item
                                a.nav-link(href='/users/register', data-toggle='tooltip', data-placement='top', title='Register for courses!') Course Registration
                        if (userInfo.role !== 10)
                            li.nav-item
                                a.nav-link(href='/users/schedule', data-toggle='tooltip', data-placement='top', title='See your schedule!') Schedule
                        if (userInfo.role === 1)
                            li.nav-item
                                a.nav-link(href='/school/courseAllocation', data-toggle='tooltip', data-placement='top', title='Download your student lists') Download Student Lists
                        if (userInfo.role === 10)
                            li.nav-item.dropdown
                                button#dropdownMenuButton.btn.btn-primary.dropdown-toggle(type='button',
                                    data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Admin functions
                                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                                    a.dropdown-item(href='/school/createSubject', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Set subject's time
                                    a.dropdown-item(href='/school/assignTeacherToSubject', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Set subject's lecturer
                                    a.dropdown-item(href='/school/createAnnouncement', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Post new announcement
                                    a.dropdown-item(href='/school/createBatchSubject', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Create subjects
                                    a.dropdown-item(href='/school/autoAssignTeacherToSubject', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Auto assign lecturers to subjects

                            li.nav-item.dropdown.mx-2
                                button#dropdownMenuButton.btn.btn-danger.dropdown-toggle(type='button',
                                    data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dev functions
                                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                                    a.dropdown-item.disabled(href='/school/eliminate', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Eliminate Duplicates
                                    a.dropdown-item.disabled(href='/school/assign', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Assign
                                    a.dropdown-item.disabled(href='/school/generate', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Subject Generating
                                    a.dropdown-item.disabled(href='/school/createDepartment', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Create Department
                                    a.dropdown-item.disabled(href='/school/createDepartment/assignSubjectToDepartment', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Assign Subject to Department
                                    a.dropdown-item.disabled(href='/school/assignStandardSchedule', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Assign Standard Table
                                    a.dropdown-item.disabled(href='/school/assignStudentAndTeacherID', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Assign readable ID
                                    a.dropdown-item.disabled(href='/school/create100weeks', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Create 100 weeks
                                    a.dropdown-item.disabled(href='/school/create100rooms', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Create 100 rooms
                                    a.dropdown-item.disabled(href='/school/bind100roomsWith100weeks', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Bind 100 rooms with 100 weeks
                                    a.dropdown-item.disabled(href='/school/assignFacultyForStudentsAndTeachers', data-toggle='tooltip', data-placement='right', title='Be careful before clicking!') Assign faculty for students and teachers

                        li.nav-item.ml-2
                            input(type="image" src="/images/itunes.png" width="40" onclick='chill();', data-toggle='tooltip', data-placement='top', title='Search for a movie!')
                        li.nav-item.ml-2
                            input(type="image" src="/images/spotify 2.png" width="40" onclick='chill2();', data-toggle='tooltip', data-placement='top', title='Search for a song!')
                        li.nav-item.ml-2
                            input(type="image" src="/images/youtube.png" width="40" onclick='chill3();', data-toggle='tooltip', data-placement='top', title='Search for a video!')


                    #google_translate_element(style='position: relative; opacity: 1; z-index: 10;' hidden)
                            //button.btn.btn-primary(style='position: absolute; right: 0; bottom: -6; z-index: 0; width: 157px; ') Translate
                    //li.nav-item.ml-2
                    label.switch(data-toggle='tooltip', data-placement='left', title='Night mode')
                          input#darkMode(type='checkbox' onclick='darkMode();')
                          span.slider
                    //.position-fixed.py-2.px-3.bg-dark.text-white.rounded-pill(style='bottom:1rem;left:1rem;')
                    //    .form-check.form-switch.pull-right
                    //        input#darkMode.form-check-input(type='checkbox' onclick='runDarkMode();')
                    //        label#darkModeLabel(for='darkMode') Light
                    img.mx-2(src='/images/night-mode.png' alt='Night mode' width='40')
                    button.btn.btn-info(id='www')
                    .translation-links.mx-2
                        input.vietnamese.mx-2(type="image" src="/images/vietnam.png" width="40" data-lang='Vietnamese' style='border-radius: 10px;', data-toggle='tooltip', data-placement='top', title='Vietnamese')
                        input.english.mr-2(type="image" src="/images/america.png" width="40" data-lang='English' style='border-radius: 10px;', data-toggle='tooltip', data-placement='top', title='English')
                        input.china(type="image" src="/images/china.png" width="40" data-lang='Chinese' style='border-radius: 10px;', data-toggle='tooltip', data-placement='top', title='Chinese')

                    script(type='text/javascript').
                      // jQuery.noConflict();
                      $(function () {
                        $('.translation-links input').on('click', function () {
                          var lang = $(this).data('lang');
                          var $frame = $('.goog-te-menu-frame:first');
                          if (!$frame.length) {
                            alert("Error: Could not find Google translate frame.");
                            return false;
                          }
                          $frame.contents().find('.goog-te-menu2-item span.text:contains(' + lang + ')').get(0).click();
                          return false;
                        });

                      });

                    script(type='text/javascript').
                      function googleTranslateElementInit() {
                        new google.translate.TranslateElement({
                          pageLanguage: 'en',
                          layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                        }, 'google_translate_element');
                      }
                      function darkMode() {
                        var isChecked = $("#darkMode").is(":checked");
                        var element = document.body;
                        // element.setAttribute('data-theme', 'dark');
                        if (isChecked) {
                          element.setAttribute('data-theme', 'dark');
                          // $("*").each(function (){
                          //
                          //   var temp = subDarkMode($(this).css('color'));
                          //   var temp1 = subDM($(this).css('background-color'));
                          //   var temp2 = invertHex(temp);
                          //   var temp3 = invertHex(temp1);
                          //   // alert(temp);
                          //   // alert(temp3);
                          //   $(this).css('color', '#' + temp2);
                          //   $(this).css('background-color', '#' + temp3);
                          // })
                        } else {
                          // darkMode(oops);
                          element.removeAttribute('data-theme');

                        }
                      }

                      function subDM(orig){
                        var a, isPercent,
                            rgb = orig.replace(/\s/g, '').match(/^rgba?\((\d+),(\d+),(\d+),?([^,\s)]+)?/i),
                            alpha = (rgb && rgb[4] || "").trim(),
                            hex = rgb ?
                                (rgb[1] | 1 << 8).toString(16).slice(1) +
                                (rgb[2] | 1 << 8).toString(16).slice(1) +
                                (rgb[3] | 1 << 8).toString(16).slice(1) : orig;
                        if (alpha !== "") {
                          a = alpha;
                        } else {
                          a = 0o1;
                        }

                        a = Math.round(a * 100) / 100;
                        var alpha = Math.round(a * 255);
                        var hexAlpha = (alpha + 0x10000).toString(16).substr(-2).toUpperCase();
                        hex = hex + hexAlpha;

                        return hex;
                      }

                      function subDarkMode(what) {
                        var hexDigits = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "a", "b", "c", "d", "e", "f"];

                        //Function to convert rgb color to hex format
                        function rgb2hex(rgb) {
                          rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
                          return hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
                        }

                        function hex(x) {
                          return isNaN(x) ? "00" : hexDigits[(x - x % 16) / 16] + hexDigits[x % 16];
                        }

                        return rgb2hex(what);
                      }

                      function invertHex(hex) {
                        return (Number(`0x1${hex}`) ^ 0xFFFFFF).toString(16).substr(1).toUpperCase()
                      }




                    span.form-inline.my-2.my-lg-0=  userInfo.name
                    span &nbsp;
                    button.btn.btn-outline-secondary.form-inline.my-2.my-lg-0(type='button', onclick='logout()', hidden=userInfo.name === " ", disabled=userInfo.name === " ") Log out
                    script(type='text/javascript').
                      function logout() {
                        document.cookie = "userID=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                        // console.log(userInfo.name + "oops");
                        location.reload();
                        userInfo.name = " ";
                      }
            script.
              function runTog() {
                var isChecked = $("#tog").is(":checked");
                if (isChecked) {
                  $('.hideTog').show();
                  $('#breadd').css('padding', '10px 12px 2px');
                  $('.icon-bar').css('left', '0px');
                  $('.icon-bar').css('opacity', '1');
                  // $('#breadd').css('background-color', '#eee');
                } else {
                  $('.hideTog').hide();
                  $('#breadd').css('padding', '10px 10px 2px 3px');
                  // $('.icon-bar').hide();
                  $('.icon-bar').css('left', '-80px');
                  $('.icon-bar').css('opacity', '0');
                  // $('#breadd').css('background-color', 'white');
                }
                // alert(isChecked);
              }

            if (breadcrumb && breadLink)
                ul.breadcrumb.mt-2.mx-2#breadd(style='float:left; display: inline-block; width: fit-content;')
                  - var kout = 0
                  each breads in breadcrumb
                    li.hideTog
                        a(href=breadLink[kout++])= breads

                  div.ml-2.p-0.ct(style='float: right; position: relative;')
                       label.switch(data-toggle='tooltip', data-placement='right', title='Open/Close extensions')
                          input#tog(type='checkbox' onclick='runTog();' checked)
                          span.slider.round
            //.btn.sm-btn.btn-success(style='') &times;
            div.mx-2
                embed#backgroundSong(name='BackgroundSong', style='border: 2px solid yellow; border-radius: 15px;' loop='false', width="auto" height="80")
            button.btn.btn-warning.sm-btn.ml-2.mt-3#stop(style='display:none; float: left; left: 500px;' onclick='stopSong();') Remove song &times;

            //#mydiv
            //    #mydivheader Click here to move
            //    iframe(width='420', height='345', src='https://www.youtube.com/embed/tgbNymZ7vqY')
            div#mydiv(style='display: none; border: 2px solid yellow; border-radius: 15px; top: 60%; left: 42%;')
                //p#demo
                #mydivheader(style='border-top-left-radius: 15px; border-top-right-radius: 15px;') Click here to move
                    button.close#stopVideo(type='button', onclick='stopVideo();' data-toggle='tooltip', data-placement='right', title='Close') &times;
                //iframe(width='420', height='345', src='https://www.youtube.com/embed/tgbNymZ7vqY')
                embed#backgroundVideo(name='BackgroundVideo', style='border: 2px solid yellow; border-radius: 15px;' loop='false', width="auto" height="80")
            //button.btn.btn-warning.sm-btn.ml-2.mt-3#stopVideo(style='display:none; float: right; left: 500px;' onclick='stopVideo();') Remove video &times;

            script.
              dragElement(document.getElementById("mydiv"));

              function dragElement(elmnt) {
                var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
                if (document.getElementById(elmnt.id + "header")) {
                  // if present, the header is where you move the DIV from:
                  document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
                } else {
                  // otherwise, move the DIV from anywhere inside the DIV:
                  elmnt.onmousedown = dragMouseDown;
                }

                function dragMouseDown(e) {
                  e = e || window.event;
                  e.preventDefault();
                  // get the mouse cursor position at startup:
                  pos3 = e.clientX;
                  pos4 = e.clientY;
                  document.onmouseup = closeDragElement;
                  // call a function whenever the cursor moves:
                  document.onmousemove = elementDrag;
                }

                function elementDrag(e) {
                  e = e || window.event;
                  e.preventDefault();
                  // calculate the new cursor position:
                  pos1 = pos3 - e.clientX;
                  pos2 = pos4 - e.clientY;
                  pos3 = e.clientX;
                  pos4 = e.clientY;
                  // set the element's new position:
                  elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                  elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
                }

                function closeDragElement() {
                  // stop moving when mouse button is released:
                  document.onmouseup = null;
                  document.onmousemove = null;
                }
              }

        .container.pt-3.my-5(style='background-color: white; border: 2px solid green; border-radius: 30px; height: auto;')
            block content
        .container.pt-3.my-5

        .icon-bar
            a.facebook(href='https://www.facebook.com/thuc.katy')
                i.fa.fa-facebook
            a.twitter(href='#')
                i.fa.fa-twitter
            a.google(href='#')
                i.fa.fa-google
            a.linkedin(href='https://www.linkedin.com/in/trần-thức-b82a24146')
                i.fa.fa-linkedin
            a.youtube(href='https://www.youtube.com/channel/UClyA28-01x4z60eWQ2kiNbA')
                i.fa.fa-youtube

        footer
            p
                | © MySchool.io
                br
                a(href='mailto:katyperrycbt@gmail.com', style='color: white;') katyperrycbt@gmail.com