extends ../layouts/common

block content
    link(rel="stylesheet", href="/styles/cellHover.css")
    link(rel="stylesheet", href="/styles/myTable.css")
    script.
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    .px-3.pt-3
        h1 Course Registration
        hr(style="background-color: lightgray;")
        if (loginUser)
          h5 Hi #{loginUser.name}, you are now in the course registration page!
        hr
        .container-fluid.pb-5
            .row
                .col-md-3
                    img(src='/images/registration.jpeg' alt='Registration' width='100%' height='auto')
                .col-md-7
                    div
                        .container-fluid
                            .row
                                .col-md-5
                                    label(for='searchByName') Filter by Subject Name:
                                .col-md-7
                                    form.ml-auto(action="/users", method="GET", class="d-flex")
                                        input(type="text", name="q", class="form-control", placeholder="Any", id='searchByName')
                                        button.btn.btn-primary.ml-2(type='submit', data-toggle='tooltip', data-placement='top', title='Search by the input keyword') &#128270;
                    div
                        .container-fluid
                            .row
                                .col-md-5
                                    label() Filter by Department:
                                .col-md-7
                                    if (departments)
                                        .dropdown(style='float: left;')
                                            button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button',
                                                data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Department
                                            .dropdown-menu.p-2(aria-labelledby='dropdownMenuButton')
                                                each department in departments
                                                    a.dropdown-item(href='/', data-toggle='tooltip', data-placement='right', title=department.department_name) #{department.department_name}
                .con-md-2

            hr(style="background-color: red;")
            form(action='/users/register/select', method="POST", name='SelectThis')
                // - var listOfSelectedSubjects = [1,2,3,4]
                //input(type='hidden', name='listOfSelectedSubjects', value=[0, 1, 2, 3])
                .table-responsive.mt-4(style='background-color: white; border: 3px solid gray; border-radius: 5px;')
                    .table-wrapper-scroll-y.my-custom-scrollbar.ui-table-header-row
                        table.table.table-hover.table-striped
                            tr.table-secondary.blue
                               th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Select This Subject') Select
                               th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Department ID') Department ID
                               th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Department Name') Department Name
                               th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Subject ID') Subject ID
                               th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Subject Name') Subject Name
                               th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Lecture Name') Lecturer Name
                               th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Subject Type') Type
                               th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Room') Room
                               th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Day') Day
                               th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Period') Period
                               th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Credits') Credits
                               th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Start') Start Day
                               th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='End') End Day
                            if (subjects && correspondingDepartmentOfSubject)
                              - var count = 0
                              - var listOfSelectedSubjects = []
                              if (inputSelectedSubject)
                                - listOfSelectedSubjects = inputSelectedSubject
                              input(type='hidden', name='listOfSelectedSubjects', value=listOfSelectedSubjects)
                              input(type='hidden', name='_csrf', value=csrfToken)
                              input(type='hidden', name='hiddenLoginID', value=userInfo.loginId)
                              each subject in subjects
                                  tr(class=!subject.room ? 'not-ready-subject': '', data-toggle='tooltip', data-placement='right', title=!subject.room ? 'This subject is being updated...': '')
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')
                                        .form-check
                                            input.form-check-input.position-static(id=count.toString(), type='checkbox', name='thisSubject', value=subject.id_sub, onchange="document.SelectThis.submit()", disabled=!subject.room || (subject.checked === true))
                                            //label.custom-control-label(for=count.toString())
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= correspondingDepartmentOfSubject[count]['department_id']
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= correspondingDepartmentOfSubject[count++]['department_name']
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.id_sub
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.name_sub
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.lecturer ? subject.lecturer : 'Updating...'
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.type
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.room ? subject.room : 'Updating...'
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.whichDay ? subject.whichDay.charAt(0).toUpperCase() + subject.whichDay.slice(1) : 'Updating...'
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.whichPeriod ? subject.whichPeriod : 'Updating...'
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.credits
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.start
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.end

            hr(style="background-color: gray;")
            if (listOfSelectedSubjects.length !== 0)
                h4(style='color: blue; font-style: italic; float: left;') Selected Subjects
                button.btn.btn-secondary.btn-sm(accesskey='h', type='button', style='float: right;', data-toggle='tooltip'
                    , data-placement='right', title='Delete selected rows', onclick='del()') Delete
                button.btn.btn-secondary.btn-sm.mr-1(type='submit', style='float: right;', data-toggle='tooltip'
                    , data-placement='left', title='Save the registrations', onclick="document.SaveThis.submit()") Save
                script(type='text/javascript').
                  function del() {
                    var checkedValue = document.querySelector('.sltSubject').checked;
                    // var index;
                    // for (let i = 0; i < checkedValue.length; i++) {
                    //   index = listOfSelectedSubjects.indexOf(checkedValue[i]);
                    //   listOfSelectedSubjects.splice(index, 1);
                    // }
                    console.log('Checked ' + checkedValue);
                    location.reload();
                  }
                form(action='/users/register/select/save', method="POST", name='SaveThis')
                    //h4(style='color: blue; font-style: italic;') Selected Subjects
                    .table-responsive(style='background-color: white; border: 3px solid gray; border-radius: 5px;')
                      .table-wrapper-scroll-y.my-custom-scrollbar-fee.ui-table-header-row
                          table.table.table-hover.table-striped
                              tr.table-secondary.blue
                                  th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='No.') No.
                                  th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Subject ID') Subject ID
                                  th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Subject Name') Subject Name
                                  th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Credits') Credits
                                  th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Fee') Fee
                                  th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Subject Status') Subject Status
                                  th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Select') Select
                              if (inputSelectedSubject)
                                - var count = 0
                                - var listOfSelectedSubjects = []
                                - var sumCredit = 0
                                - var sumFee = 0
                                if (inputSelectedSubject)
                                  - listOfSelectedSubjects = inputSelectedSubject
                                input(type='hidden', name='listOfSelectedSubjects', value=listOfSelectedSubjects)
                                input(type='hidden', name='_csrf', value=csrfToken)
                                input(type='hidden', name='hiddenLoginID', value=userInfo.loginId)
                                each selectedSubject in listOfSelectedSubjects
                                    - sumCredit = sumCredit + parseInt(selectedSubject.credits)
                                    - sumFee = sumFee + parseInt(selectedSubject.credits)*56*23270
                                    tr
                                        td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= count++
                                        td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= selectedSubject.id_sub
                                        td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= selectedSubject.name_sub
                                        td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= selectedSubject.credits
                                        td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= ((parseInt(selectedSubject.credits)*56*23270).toString() + ' VND').replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                                        td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= 'Updating...'
                                        td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')
                                            .form-check
                                                input.form-check-input.position-static(id=count.toString(), class='sltSubject', type='checkbox', name='thisSubject', value=selectedSubject)
                                tr
                                    td.ui-table-header-cell.footer(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Total', colspan='3') Total
                                    td.ui-table-header-cell.footer(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Total Credits')= sumCredit
                                    td.ui-table-header-cell.footer(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Total Fee')= (sumFee.toString() + ' VND').replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                                    td.ui-table-header-cell.footer(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='')
                                    td.ui-table-header-cell.footer(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='')

