extends ../layouts/common

block content
    link(rel="stylesheet", href="/styles/cellHover.css")
    link(rel="stylesheet", href="/styles/myTable.css")
    if book_mark
        script(type='text/javascript').
          function scroll() {
            var idx = location.href.indexOf('#here');
            while (idx > 0) {
              location.href.splice(idx, 5);
              idx = location.href.indexOf('#here');
            };
            location.href = location.href + '#here';
          }
          scroll();
    script.
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    if (isNotStudent !== null)
        if (isNotStudent === true)
            script(type='text/javascript').
              swal("Your are not allowed to register for courses.", {
                icon: "warning",
                timer: 3000,
              }).then(() => {
                document.cookie = "userID=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                // console.log(userInfo.name + "oops");
                location.reload();
                userInfo.name = " ";
              });

    script(type='text/javascript').
      var vl = 0;
      var bt = 0;
      function fil(myRadio) {
        $("#df").hide();
        $(".faculty").hide();
        $("table").removeClass('oke');

        vl = myRadio.getAttribute('value');
        bt = myRadio.getAttribute('id');

        if (vl !== '100') {
          $("#faculty" + vl).show();
          $("#faculti" + vl).addClass('oke');
          $(".falName" + vl).html(myRadio.innerHTML);
          $("#dropdownMenuButton").html(myRadio.innerHTML);
        } else {
          $("#df").show();
          $("#defaultOK").addClass('oke');
          $("#dropdownMenuButton").html('All');
        }
        $("#Avai").html('Found: ' + bt + ' subjects');
        $("#Avai").attr('value', bt);
      }

      $.expr[":"].contains = $.expr.createPseudo(function (arg) {
        return function (elem) {
          return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
        };
      });

      function showResult() {
        var count = 0;
        var str = $("#searchByName").val();

        $("*").removeClass('af');

        $("table.oke tr#oops").each(function () {
          // $(this).removeAttr('style');
          if ($(this).text().search(new RegExp(str, "i")) < 0) {
            $(this).fadeOut();
          } else {
            if (str.length > 0) {
              $(this).find(`td:contains('${str}')`).addClass('af');
            }
            // $(this).find(`:contains('${str}')`).addClass('af');
            $(this).show();
            count++;
          }
        });

        $("#Avai").html('Found: ' + count + ' subjects');
        $("#Avai").attr('value', count);
      }

    .px-3.pt-3.hide
        h1 Course Registration
        hr(style="background-color: lightgray;")
        if (loginUser)
            h5 Hi #{loginUser.name}, you are now in the course registration page!
        hr
        .container-fluid.pb-5
            .row
                .col-md-3
                    img(src='/images/registration.jpeg' alt='Registration' width='100%' height='auto')
                .col-md-7
                    div
                        .container-fluid
                            .row
                                .col-md-5
                                    label.mb-4(for='searchByName') Filter by Anything:
                                .col-md-7
                                    input(type="text", name="q", class="form-control", placeholder="Any", id='searchByName', onkeyup="showResult();")
                                    div#liveSearch
                                        //button.btn.btn-primary.ml-2(type='submit', data-toggle='tooltip', data-placement='top', title='Search by the input keyword') &#128270;
                    div
                        .container-fluid
                            .row
                                .col-md-5
                                    label Filter by Department:
                                .col-md-7
                                    if (departments)
                                        .dropdown(style='float: left;')
                                            button#dropdownMenuButton.btn.btn-primary.dropdown-toggle(type='button',
                                                data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Department
                                            - var countDe = 0
                                            - var countRe = 0
                                            .dropdown-menu.p-2(aria-labelledby='dropdownMenuButton')
                                              if (subjects)
                                                - countRe = subjects.length
                                              a.dropdown-item(data-toggle='tooltip', data-placement='right', title='All', onclick="fil(this);", value='100', id=countRe) All
                                              each department in departments
                                                  if (subjectsByDepartment)
                                                      - countRe = subjectsByDepartment[countDe].length
                                                  a.dropdown-item(data-toggle='tooltip', data-placement='right', title=department.department_name, onclick="fil(this);", value=countDe, id=countRe) #{department.department_name}
                                                  - countDe++
                    div.mb-0
                        .container-fluid
                            .row
                                .col-md-5
                                    - var def = 0
                                    if (subjects)
                                      - def = subjects.length
                                    label#Avai.bg-success(value=def) Found: #{def} subjects
                                .col-md-7
                .col-md-2
            - var listOfSelectedSubjects = []
            - var corresDepart = []
            hr(style="background-color: red;")
            div#df
              form(action='/users/register/select', method="POST", name='SelectThis')
                // - var listOfSelectedSubjects = [1,2,3,4]
                //input(type='hidden', name='listOfSelectedSubjects', value=[0, 1, 2, 3])
                .table-responsive.mt-4(style='background-color: white; border: 3px solid gray; border-radius: 5px;')
                    .table-wrapper-scroll-y.my-custom-scrollbar.ui-table-header-row
                        table(class='oke' id='defaultOK').table.table-hover.table-striped
                            tr.table-secondary.blue
                                th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Select This Subject') Select
                                th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Department ID') Department ID
                                th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Department Name') Department Name
                                th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Subject ID') Subject ID
                                th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Subject Name') Subject Name
                                th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Lecture Name') Lecturer Name
                                th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Subject Type') Type
                                th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Room') Room
                                th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Day') Day
                                th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Period') Period
                                th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Credits') Credits
                                th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Start') Start Day
                                th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='End') End Day

                            if (subjects && correspondingDepartmentOfSubject && !doesThisStudentHasAValidSchedule)
                              - var count = 0
                              // - var listOfSelectedSubjects = []
                              if (inputSelectedSubject)
                                - listOfSelectedSubjects = inputSelectedSubject
                              input(type='hidden', name='listOfSelectedSubjects', value=listOfSelectedSubjects)
                              input(type='hidden', name='_csrf', value=csrfToken)
                              input(type='hidden', name='hiddenLoginID', value=userInfo.loginId)

                              each subject in subjects

                                  tr#oops(class=(!subject.whichDay || subject.whichDay === undefined) ? 'not-ready-subject': '', data-toggle='tooltip', data-placement='right', title=!subject.room ? 'This subject is being updated...': '')
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')
                                          .form-check
                                              input.form-check-input.position-static(id=count.toString(), type='checkbox', name='thisSubject', value=subject.id_sub, onchange="document.SelectThis.submit()", disabled=(!subject.whichDay || subject.whichDay === undefined) || (subject.checked === true))
                                              //label.custom-control-label(for=count.toString())
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= correspondingDepartmentOfSubject[count]['department_id']
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= correspondingDepartmentOfSubject[count++]['department_name']
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.id_sub
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.name_sub
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.lecturer ? subject.lecturer : 'Updating...'
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.type
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.room ? subject.room : 'Updating...'
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.whichDay ? subject.whichDay.charAt(0).toUpperCase() + subject.whichDay.slice(1) : 'Updating...'
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.whichPeriod ? subject.whichPeriod : 'Updating...'
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.credits
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.start
                                      td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.end
                            if (doesThisStudentHasAValidSchedule)
                                if (doesThisStudentHasAValidSchedule === true)
                                    tr
                                        td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center; color: red; font-weight: bold; font-size: 250%;', rowspan=12, colspan=13) You are new and currently do not have your own schedule, contact the admin for help!

            if (subjectsByDepartment)
              - var fal = 0
              for eachFal in subjectsByDepartment
                div.faculty(id="faculty" + fal, style='display: none;')
                  form(action='/users/register/select', method="POST", name='SelectThis' + fal)
                    // - var listOfSelectedSubjects = [1,2,3,4]
                    //input(type='hidden', name='listOfSelectedSubjects', value=[0, 1, 2, 3])
                    .table-responsive.mt-4(style='background-color: white; border: 3px solid gray; border-radius: 5px;')
                        .table-wrapper-scroll-y.my-custom-scrollbar.ui-table-header-row
                            table(id='faculti' + fal).table.table-hover.table-striped
                                tr.table-secondary.blue
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Select This Subject') Select
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Department ID') Department ID
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Department Name') Department Name
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Subject ID') Subject ID
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Subject Name') Subject Name
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Lecture Name') Lecturer Name
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Subject Type') Type
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Room') Room
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Day') Day
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Period') Period
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Credits') Credits
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Start') Start Day
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='End') End Day

                                if (subjectsByDepartment && !doesThisStudentHasAValidSchedule)
                                  - var count = 0
                                  // - var listOfSelectedSubjects = []
                                  if (inputSelectedSubject)
                                    - listOfSelectedSubjects = inputSelectedSubject
                                  input(type='hidden', name='listOfSelectedSubjects', value=listOfSelectedSubjects)
                                  input(type='hidden', name='_csrf', value=csrfToken)
                                  input(type='hidden', name='hiddenLoginID', value=userInfo.loginId)

                                  each subject in eachFal
                                      tr#oops(class=!subject.room ? 'not-ready-subject': '', data-toggle='tooltip', data-placement='right', title=!subject.room ? 'This subject is being updated...': '')
                                          td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')
                                              .form-check
                                                  input.form-check-input.position-static(id=count.toString(), type='checkbox', name='thisSubject', value=subject.id_sub, onchange="document.SelectThis"+ fal +".submit()", disabled=!subject.room || (subject.checked === true))
                                                  //label.custom-control-label(for=count.toString())
                                          td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= fal
                                          td(class ='falName' + fal, style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;') Update
                                          td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.id_sub
                                          td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.name_sub
                                          td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.lecturer ? subject.lecturer : 'Updating...'
                                          td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.type
                                          td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.room ? subject.room : 'Updating...'
                                          td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.whichDay ? subject.whichDay.charAt(0).toUpperCase() + subject.whichDay.slice(1) : 'Updating...'
                                          td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.whichPeriod ? subject.whichPeriod : 'Updating...'
                                          td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.credits
                                          td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.start
                                          td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= subject.end
                                if (doesThisStudentHasAValidSchedule)
                                    if (doesThisStudentHasAValidSchedule === true)
                                        tr
                                            td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center; color: red; font-weight: bold; font-size: 250%;', rowspan=12, colspan=13) You are new and currently do not have your own schedule, contact the admin for help!
                - fal++

            hr(style="background-color: gray;", id='here')
            if (listOfSelectedSubjects.length !== 0)
                if (reloadPage !== null)
                    if (reloadPage === true)
                        script(type='text/javascript').
                          swal("Please wait when we reload the server! Unsaved subjects will be removed.", {
                            icon: "warning",
                            timer: 3000,
                          }).then(() => {
                            location.href = '/users/register#here';
                          });

                h4(style='color: blue; float: left;') Selected Subjects
                form(action='/users/register/save', method="POST", name='SaveThis', id='SaveThis')
                    script(type='text/javascript').
                      function selectAll() {
                        var checkbox = document.getElementsByName('thisSelectedSubject');
                        var checkboxAll = document.getElementById('selectAllSub');
                        for (let i = 0; i < checkbox.length; i++) {
                          if (checkbox[i].disabled === false) {
                            checkbox[i].checked = checkboxAll.checked === true;
                          }
                        }
                      }

                      // import swal from 'sweetalert';

                      function confirmSave() {
                        swal({
                          title: "Are you sure?",
                          text: "Once saved, you will not be able to delete these registrations!",
                          icon: "warning",
                          buttons: true,
                          dangerMode: true,
                        }).then((willSave) => {
                          if (willSave) {
                            swal("OK! Your registrations have been saved!", {
                              icon: "success",
                              timer: 1000,
                            }).then(()=> {
                              document.getElementById('SaveThis').submit();
                            });
                          } else {
                            swal("Let's reconsider!", {
                              icon: 'error',
                              timer: 1000
                            });
                          }
                        });
                        return false;
                      }

                    .form-check(style='float: right;')
                        input.form-check-input(type='checkbox', onclick="selectAll()", id='selectAllSub')
                        label(for='selectAllSub') All

                    button.btn.btn-secondary.btn-sm.mr-1(type='submit', style='float: right;', data-toggle='tooltip'
                    , data-placement='right', title='Delete selected rows', formaction='/users/register/delete') Delete
                    button.btn.btn-secondary.btn-sm.mr-1(type='button', style='float: right;', data-toggle='tooltip'
                    , data-placement='left', title='Save the registrations', onclick='confirmSave()') Save
                    //h4(style='color: blue; font-style: italic;') Selected Subjects
                    br
                    h5.text-danger(style='clear:both; font-style: italic;') Note: Saved subjects cannot be deleted to avoid course keeping and exchanging.
                        strong &nbsp;Be careful!
                        span(style='color: green; float: right;') <details><summary>I want to cancel the subscription</summary><small style='color: blue;'>Contact: katyperry@admin.myschool.edu.vn</small></details>
                    .table-responsive(style='background-color: white; border: 3px solid gray; border-radius: 5px;')
                        .table-wrapper-scroll-y.my-custom-scrollbar-fee.ui-table-header-row
                            table.table.table-hover.table-striped#selectTable
                                tr.table-secondary.blue
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='No.') No.
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Subject ID') Subject ID
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Subject Name') Subject Name
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Credits') Credits
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Fee') Fee
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Subject Status') Subject Status
                                    th.ui-table-header-cell(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Select') Select
                                if (inputSelectedSubject)
                                  - var count = 1
                                  // - var listOfSelectedSubjects = []
                                  - var sumCredit = 0
                                  - var sumFee = 0
                                  if (inputSelectedSubject)
                                    - listOfSelectedSubjects = inputSelectedSubject
                                  input(type='hidden', name='listOfSelectedSubjects', value=listOfSelectedSubjects)
                                  input(type='hidden', name='_csrf', value=csrfToken)
                                  input(type='hidden', name='hiddenLoginID', value=userInfo.loginId)
                                  each selectedSubject in listOfSelectedSubjects
                                    - sumCredit = sumCredit + parseInt(selectedSubject.credits)
                                    - sumFee = sumFee + parseInt(selectedSubject.credits)*56*23270
                                    - var isThisSubjectOverlap = false
                                    - var isThisSubjectOK = 2
                                    if overlapping
                                      each subLap in overlapping
                                          if (subLap === selectedSubject.name_sub)
                                            - isThisSubjectOverlap = true;
                                    if resultColor
                                        if (resultColor.length > 0)
                                          each color in resultColor
                                              if (color === selectedSubject.id_sub)
                                                - isThisSubjectOK = 1;
                                          if (isThisSubjectOK !== 1 && selectedSubject.saved !== true)
                                            - isThisSubjectOK = 0
                                        else if (!selectedSubject.saved)
                                          - isThisSubjectOK = 0
                                        //if (isThisSubjectOK === 2)
                                        //  - isThisSubjectOK = 0
                                    //else if (selectedSubject.saved === true)
                                    //    - isThisSubjectOK = 1
                                    //

                                    tr(data-toggle='tooltip', data-placement='right', title=isThisSubjectOverlap ? 'These subjects overlap with each other!': '', class=(isThisSubjectOverlap ? 'isOverlapping': (isThisSubjectOK !== 2 ? (isThisSubjectOK === 1 ?'isOK':'isNotOK' ): (selectedSubject.saved ? 'isOK': ''))))
                                        td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= count++
                                        td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= selectedSubject.id_sub
                                        td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= selectedSubject.name_sub
                                        td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= selectedSubject.credits
                                        td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= ((parseInt(selectedSubject.credits)*56*23270).toString() + ' VND').replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                                        td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')= isThisSubjectOK !== 2 ? (isThisSubjectOK === 1 ? 'Saved' : 'Overlaps your schedule') : (selectedSubject.saved !== true ? 'Not Saved': 'Saved')
                                        td(style='text-align:center; align-items: center; vertical-align : middle; justify-content: center;')
                                            .form-check
                                                input.form-check-input.position-static.checkSingle(id=count.toString(), class='sltSubject', type='checkbox', name='thisSelectedSubject', value=parseInt(selectedSubject.id_sub), disabled=selectedSubject.saved === true)
                                  tr
                                      td.ui-table-header-cell.footer(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Total', colspan='3') Total
                                      td.ui-table-header-cell.footer(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Total Credits')= sumCredit
                                      td.ui-table-header-cell.footer(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Total Fee')= (sumFee.toString() + ' VND').replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                                      td.ui-table-header-cell.footer(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='')
                                      td.ui-table-header-cell.footer(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='')
