extends ../layouts/common

block content
    h1 Sign up

    if errs
      each err in errs
        .alert.alert-danger= err

    form(action="/users/create", method="POST", enctype="multipart/form-data")
      .form-group
        input(type="hidden", name="_csrf", value=csrfToken)

        label(for="name") Last Name
        input#name.form-control(name="name", type="text", value=values ? values.name : '', placeholder="Katy",
          pattern="^[a-zA-Z]{1,15}\\s{0,1}[a-zA-Z]{1,15}\\s*$",
          title="In word, less than 30 letters.")

        label(for="first_name") First Name
        input#first_name.form-control(name="first_name", type="text",
            value=values ? values.first_name: '', placeholder="Perry",
          pattern="^[a-zA-Z]{1,15}\\s{0,1}[a-zA-Z]{1,15}\\s*$",
          title="In word, less than 30 letters.")

        //label(for="gender") Gender
        //input#gender.form-control.input-group(name="gender", type="text", value=values ? values.gender : '', placeholder="Male")

        p.mb-1 Gender
        input#male.ml-3(type='radio', name='gender', value='Male', checked=values ? (values.gender === 'Male'): 'false')
        label.ml-2(for='male') Male
        input#female.ml-3(type='radio', name='gender', value='Female', checked=values ? (values.gender === 'Female'): 'false')
        label.ml-2(for='female') Female
        input#other.ml-3(type='radio', name='gender', value='Other', checked=values ? (values.gender === 'Other'): 'false')
        label.ml-2(for='other') Other
        br
        label(for="email") Email
        input#email.form-control(name="email", type="text", value=values ? values.email : '', placeholder="katyperry@gmail.com",
          pattern="^\\w+@[a-zA-Z]+\\.com$",
          title="any@inWords.com")

        label(for="avatar") Avatar
        input#avatar.form-control-file(name="avatar", type="file")

      button.btn.btn-primary Create