extends ../layouts/common

block content
  link(rel="stylesheet", href="/styles/myTable.css")

  if (userInfo.role !== 10)
    if (temp)
      script(type='text/javascript').
        location.href = location.href + temp

  script(type='text/javascript').
    var estimateWeight = 1335;
    var reree;
    function ree() {
      pageSize = $('html').html().length;
      kBytes = pageSize / 1024;
      // var temp = (Math.floor(Date.now() - timerStart) * 100 / EstimatedTime) < 100 ? (Math.floor((Date.now() - timerStart) * 100 / EstimatedTime)) : Math.floor(99)
      var temp = (Math.floor(kBytes) * 100 / estimateWeight) < 100 ? (Math.floor(kBytes * 100 / estimateWeight)): Math.floor(99)
      $("#loaded").html("Loaded: " + temp + "%...");
      $("#pageWeight").html('Page weight: ' + kBytes.toString() + ' KB');
      $("#loadedBar").css('width', temp + '%');

    }

    rere = setInterval(ree, 100);

    function stopREE() {
      clearInterval(rere);
      pageSize = $('html').html().length;
      kBytes = pageSize / 1024;
      $("#loaded").html("Load completed!...");
      $("#loadedBar").css('width', '100%');
      setTimeout(function () {
        $("#loaded").fadeOut(100);
        $("#pageWeight").fadeOut(100);
        $("#loadedBar").fadeOut(100);
        $(".progress").fadeOut(100);
      }, 2000);
    }
    $(window).on('DOMContentLoaded', function () {
      pageSize = $('html').html().length;
      kBytes = pageSize / 1024;
      $('#loading').show();
      $('#loaded').show();
      $('#pageWeight').show();
      $('#loadedBar').show();
      $('.progress').show();

    }).on('load', () => {
      $('#loading').hide();
      $('#indexTable').show();
      stopREE();
      // $('#loaded').hide();
    });

    function showResult() {
      var count = 0;
      var str = $("#sea").val();
      // alert(str);
      // $("#search").show();
      if (str.length > 0) {
        $(".notSearch").hide();
        $("#search").show();
        $("table.search tr.oops").each(function () {
          if ($(this).text().search(new RegExp(str, "i")) < 0) {
            $(this).fadeOut();
          } else {
            $(this).show();
            count++;
          }
        });
        $("#Avais").html(count.toString());
        $("#Avais").attr('value', count);
      } else {
        // alert($("#Const").html());
        $("#Avais").html($("#Const").html());
        $("#Avais").attr('value', $("#Const").html());
        $(".notSearch").show();
        $("#search").hide();
      }
      // alert(count);
      // var idx = location.href.indexOf('#Yes');
      // while (idx > 0) {
      //   location.href.splice(idx, 5);
      //   idx = location.href.indexOf('#Yes');
      // }
      //
      //
      // location.href = location.href + '#Yes';
      // alert($("#Avai").attr('value'));
      // var current = parseInt($("#Avai").attr('value')) - count;

    }

  .px-3.pt-4.hide
    h1
      span.mr-3= (userInfo.role === 1 ? 'Teacher': (userInfo.role === 0 ? 'Student': 'Users'))
      if (userInfo.role === 10)
        a.btn.btn-primary(href="/users/create", , data-toggle='tooltip', data-placement='right', title='Create a new student') New
    script.
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    div.align-items-center
      if (userInfo.role === 10)
        div(style='float: left;')
          button.btn.btn-success.mb-2(type='button', data-toggle='tooltip', data-placement='right', title=page.num + ' students found!') Result: &nbsp;
            span.badge.badge-light#Avais #{page.num}
            div.badge.badge-light#Const(style='display: none;') #{page.num}
            span.sr-only unread messages
        div(style='float: right;')
          .container-fluid(style='text-align: center; align-items: center; vertical-align : middle; justify-content: center;')
            .row
              .col-md-2
                //p(for='sea') Search
                .btn.btn-primary(data-toggle='tooltip', data-placement='top', title='Search by the input keyword') &#128270;
              .col-md-10
                input(type="text", name="q", class="form-control", placeholder="Any", id='sea', onkeyup="showResult();")
          //button.btn.btn-primary.ml-2(type='submit', data-toggle='tooltip', data-placement='top', title='Search by the input keyword') &#128270;
    div(style='clear:both;')
        h5#loaded
        h5#pageWeight
        .progress
            #loadedBar.progress-bar.progress-bar-striped.progress-bar-animated
        #loading.loader.center.my-3(style='position: inherit; top: 100pt;')
    div.notSearch
      .table-responsive
        table.table.mt-3.table-hover.table-striped#indexTable(style='display:none;')
          tr.table-secondary
            th(data-toggle='tooltip', data-placement='top', title='The orders in the database') No.
            th(data-toggle='tooltip', data-placement='top', title='Role') Role
            th(data-toggle='tooltip', data-placement='top', title='First Name') First Name
            th(data-toggle='tooltip', data-placement='top', title='Last Name') Last Name
            th(data-toggle='tooltip', data-placement='top', title='Gender') Gender
            th(data-toggle='tooltip', data-placement='top', title='Gender') Birthday
            th(data-toggle='tooltip', data-placement='top', title='Email') Email
            //th(data-toggle='tooltip', data-placement='top', title='Students IP Address') IP Address
            th(data-toggle='tooltip', data-placement='top', title='Avatars') Avatar
            th(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Some functionalities') Edit
            if (userInfo.role === 10)
              th(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Delete a student') Delete
              th(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Select a student') Select
          - var the = 1
          each user in users
            if (user.role !== 10)
              tr(id=the === 1 ? 'Yess': '')
                td= users.indexOf(user) + (7 * (page.y - 1)) + 1
                td= user.role !== null ? (user.role === 1 ? 'Teacher': (user.role === 0 ? 'Student': 'Admin')) : 'Unknown'
                td= user.name !== null ? user.name: 'Unknown'
                td= user.first_name !== null ? user.first_name: 'Unknown'
                td= user.gender !== null ? user.gender : 'Unknown'
                td= user.birthday ? user.birthday : 'Unknown'
                td= user.email !== null ? user.email: 'Unknown'
                //td= user.ip_address !== null ? user.ip_address: 'Unknown'
                td
                  if user.avatar
                    img(src= (user.avatar.toLowerCase().indexOf('uploads') !== -1) ? '/' + user.avatar: user.avatar, width="40", alt=!user.avatar ? 'Not Found': '')
                  else
                    span Not Found
                td(style='text-align:center;')
                  a.btn.btn-outline-info.rounded-circle(href="/users/" + user.id, data-toggle='tooltip', data-placement='top', title='Click to see the user information') &#128194;
                if (userInfo.role === 10)
                  td(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Delete this student from the database')
                    a.btn.btn-outline-danger.rounded-circle(href="/users/delete/" + user.id) &#10060;
                  td(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Select this user')
                    a.btn.btn-outline-success.rounded-circle(href="/school/select/" + user.id) &#10004;
            - the++

    div#search(style='display: none;')
      if(fullUsers)
        .table-responsive.my-4(style='background-color: white;')
          .table-wrapper-scroll-y.my-custom-scrollbar-index.ui-table-header-row
            table.table.mt-3.table-hover.table-striped.search
              tr.table-secondary
                th(data-toggle='tooltip', data-placement='top', title='The orders in the database') No
                th(data-toggle='tooltip', data-placement='top', title='Role') Role
                th(data-toggle='tooltip', data-placement='top', title='First Name') First Name
                th(data-toggle='tooltip', data-placement='top', title='Last Name') Last Name
                th(data-toggle='tooltip', data-placement='top', title='Gender') Gender
                th(data-toggle='tooltip', data-placement='top', title='Gender') Birthday
                th(data-toggle='tooltip', data-placement='top', title='Email') Email
                //th(data-toggle='tooltip', data-placement='top', title='Students IP Address') IP Address
                th(data-toggle='tooltip', data-placement='top', title='Avatars') Avatar
                th(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Some functionalities') Edit
                if (userInfo.role === 10)
                  th(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Delete a student') Delete
                  th(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Select a student') Select
              - var theCount = 1
              each user in fullUsers
                if (user.role !== 10)
                  tr.oops(id=theCount === 3 ? 'Yes': '')
                    td= theCount++
                    td= user.role !== null ? (user.role === 1 ? 'Teacher' : (user.role === 0 ? 'Student' : 'Admin')) : 'Unknown'
                    td= user.name !== null ? user.name : 'Unknown'
                    td= user.first_name !== null ? user.first_name : 'Unknown'
                    td= user.gender !== null ? user.gender : 'Unknown'
                    td= user.birthday ? user.birthday : 'Unknown'
                    td= user.email !== null ? user.email : 'Unknown'
                    //td= user.ip_address !== null ? user.ip_address: 'Unknown'
                    td
                      if user.avatar
                        img(src= (user.avatar.toLowerCase().indexOf('uploads') !== -1) ? '/' + user.avatar : user.avatar, width="40", alt=!user.avatar ? 'Not Found' : '')
                      else
                        span Not Found
                    td(style='text-align:center;')
                      a.btn.btn-outline-info.rounded-circle(href="/users/" + user.id, data-toggle='tooltip', data-placement='top', title='Click to see the user information') &#128194;
                    if (userInfo.role === 10)
                      td(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Delete this student from the database')
                        a.btn.btn-outline-danger.rounded-circle(href="/users/delete/" + user.id) &#10060;
                      td(style='text-align:center;', data-toggle='tooltip', data-placement='top', title='Select this user')
                        a.btn.btn-outline-success.rounded-circle(href="/school/select/" + user.id) &#10004;
    if (userInfo.role === 10)
      ul.pagination.justify-content-center.pagination.notSearch
        li.page-item
          a.page-link(href='/users' + (page.searchString ? ('/search?q=' + page.searchString + '&') : '?') + 'page=' + (page.y - 3),
            data-toggle='tooltip', data-placement='left', title='Previous 3 pages') Previous
        li.page-item.ml-2
          a.page-link(href='/users' + (page.searchString ? ('/search?q=' + page.searchString + '&') : '?') + 'page=' + page.x) #{page.x}
        li.page-item.active.avt(data-toggle='tooltip', data-placement='top', title='Current page')
          span.page-link #{page.y}
            span.sr-only
        li.page-item
          a.page-link(href='/users' + (page.searchString ? ('/search?q=' + page.searchString + '&') : '?') + 'page=' + page.z) #{page.z}
        //li.page-item
        //  a.page-link(href='/users' + (page.searchString ? ('/search?q=' + page.searchString + '&'): '?') + 'page=' + (page.y+3)) Next
        li.page-item
          form.ml-auto(action="/users" + (page.searchString ? '/search' : '') , method="GET", class="d-flex")
            input.ml-2(type="number", name="page", class="form-control", placeholder="0..." + page.max, min="0", max=page.max)
            input(type="hidden", name="q", class="form-control", value=page.searchString)
            input.btn.btn-primary.mx-2(type="submit", value="Page", data-toggle='tooltip', data-placement='top', title='Move to the input page')
        li.page-item
          a.btn.btn-outline-success.mr-2(hidden=true, href='/users/update', data-toggle='tooltip', data-placement='top', title='Update students avatar') Update Avatar
        li.page-item
          a.page-link(href='/users' + (page.searchString ? ('/search?q=' + page.searchString + '&') : '?') + 'page=' + (page.y + 3),
            data-toggle='tooltip', data-placement='right', title='Next 3 pages') Next