extends ../layouts/common

block content
    link(rel="stylesheet", href="/styles/myTable.css")
    script(src='/plugins/jquery.tabledit.js')

    script(type='text/javascript').
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });

      $(window).on('DOMContentLoaded', function (){
        $('#loading').show();
      }).on('load', ()=> {
        $('#loading').hide();
        $('#example-1').show();
      });

      let pre;
      function edit(what) {
        reset();
        let content = $(what).children('span').html();
        $(what).children('span').hide();
        $(what).children('input').show();
        $(what).children('input').html(content);
        $(what).children('input').css('width', 'max-content');
        $(what).children('input').on('keyup', (e)=>{
          if (e.key === 'Enter') {
            // alert('YEs');
            $(what).children('span').html($(what).children('input').val());
            reset();
          }
        })
      }
      function reset() {
        $('td>span').show();
        $('td>input').hide();
      }
    .p-2.hide
        h1 Database board
        hr
        script(type='text/javascript', src='https://res.cloudinary.com/dxfq3iotg/raw/upload/v1567487539/jquery.tabledit.js')
        .container.mb-5
            .row
                .col-md-12
                    .card
                        .card-header
                            h5 Database: USER
                            span Click on row to perform edit action then Enter for save
                        #loading.loader.center(style='position: inherit; top: 100pt;')
                        .card-block
                            .table-responsive
                              .table-wrapper-scroll-y.my-custom-scrollbar.ui-table-header-row
                                table#example-1.table.table-striped.table-bordered.table-hover.table-condensed(style='font-size: 15px; display:none;')

                                    tr.table-secondary.blue
                                        if (keys)
                                          th(data-toggle='tooltip', data-placement='top', title='The orders in the database') No.
                                          each key in keys
                                            th(data-toggle='tooltip', data-placement='top', title=key)= key
                                    if (users && keys)
                                        each user in users
                                            tr
                                                td.tabledit-view-mode#not
                                                    span= users.indexOf(user) + 1
                                                - var iter = 0
                                                each key in keys
                                                    td.tabledit-view-mode(id=iter, onclick=iter++ === 0 ? '' :'edit(this);')
                                                        span.tabledit-span= user[key] !== undefined ? user[key] : '#'
                                                        input.tabledit-input.form-control.input-sm(type='text', name=user[key] !== undefined ? user[key]: null, value=user[key] !== undefined ? user[key]: null, style='display: none;')

                            nav.m-2(aria-label='Page navigation example')
                                ul.pagination.justify-content-end
                                    li.page-item
                                        a.page-link(href='#', tabindex='-1', aria-disabled='true') Previous
                                    li.page-item
                                        a.page-link(href='#') 1
                                    li.page-item
                                        a.page-link(href='#') 2
                                    li.page-item
                                        a.page-link(href='#') 3
                                    li.page-item
                                        a.page-link(href='#') Next

