extends ../layouts/common

block content
    link(rel="stylesheet", href="/styles/cellHover.css")
    script.
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    - var isAdmin = userInfo.role === 10;
    if (!isAdmin)
        script(type='text/javascript').
          swal("Your are not allowed to visit this page.", {icon: "warning", timer: 3000,}).then(() => {
          document.cookie = "userID=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
          location.reload();
          userInfo.name = " ";});
    .px-3.pt-3.hide
        h1 Set subject's lecturer
        hr(style="background-color: lightgray;")
        h5(style='color: blue; font-style: italic;') Note: Only complete subjects can be assigned to teachers.
        hr(style="background-color: lightgray;")
        .container-fluid.my-5
            .row
                .col-md-3(style='border-right: 1px solid gray;')
                    h2 Select subject
                    form(action="/school/searchForTeacher", method="POST", hidden= !!selectedSubject)
                        .form-group
                            input(type='hidden', name='_csrf', value=csrfToken)
                            label.text-success(for='exampleFormControlSelect1', data-toggle='tooltip', data-placement='right', title=subjects.length + ' subjects found!') Available: #{subjects.length}
                            select#exampleFormControlSelect1.form-control(size='5', style='overflow-x: scroll;', name='sub')
                              - var isChecked = 0
                              each subject in subjects
                                  option(value=subject, selected=selectedSubject ? (selectedSubject['id_sub'] === subject.id_sub): (isChecked === 0) )= 'ID: '+ subject.id_sub + '; Name: ' + subject.name_sub
                                  - isChecked = 1
                        button.btn.btn-primary.form-inline(type='submit', style='float: right;') ☕
                    if selectedSubject
                        span
                            small.text-success.font-weight-bold(style='font-size: large;') #{selectedSubject.name_sub}.
                                //button.btn-sm
                            a(type='button', href='/school/assignTeacherToSubject', data-toggle='tooltip', data-placement='right', title='Reset', style='float: right; text-decoration: none;') 🔄
                        br
                        small.text-danger(style='font-size: medium') ID: #{selectedSubject.id_sub}
                        br
                        small.text-danger(style='font-size: medium') Type: #{selectedSubject.type}
                        br
                        small.text-danger(style='font-size: medium') Credits: #{selectedSubject.credits}
                        br
                        small.text-danger(style='font-size: medium') Start: #{selectedSubject.start}
                        br
                        small.text-danger(style='font-size: medium') End: #{selectedSubject.end}
                        br
                        if (selectedSubject.room && selectedSubject.whichDay && selectedSubject.whichPeriod)

                            small.text-danger(style='font-size: medium') Room: #{selectedSubject.room}
                            br
                            small.text-danger(style='font-size: medium') Day: #{selectedSubject.whichDay.charAt(0).toUpperCase() + selectedSubject.whichDay.slice(1)}
                            br
                            small.text-danger(style='font-size: medium') Period: #{selectedSubject.whichPeriod}
                            br
                            if (selectedSubject.lecturer)
                              small.text-danger(style='font-size: medium') Lecturer: #{selectedSubject.lecturer}
                .col-md-2(style='border-right: 1px solid gray;')
                    h2 Teachers
                    if (teachers && selectedSubject)
                        form(action="/school/searchForTeacher/searchForWeek", method="POST")

                            .form-group
                                input(type='hidden', name='_csrf', value=csrfToken)
                                input(type='hidden', name='sub', value=selectedSubject)
                                input(type='hidden', name='list_tea', value=teachers)
                                .text-success(data-toggle='tooltip', data-placement='right', title=teachers.length + ' teachers found!')
                                    label(for='exampleFormControlSelect2') Available: #{teachers.length}

                                select#exampleFormControlSelect2.form-control(size='5', style='overflow-x: scroll;', name='tea')
                                  - var order = 1
                                  each teacher in teachers
                                      option(value=teacher, selected=selectedTeacher ? (selectedTeacher['id'] === teacher.id): (order === 1))= order++ + '. ' + teacher['name'] + ' ' + teacher['first_name']
                                input(type='hidden', name='subject', value=selectedSubject ? selectedSubject : '')
                            button.btn.btn-primary.form-inline(type='submit', style='float: right;') ☕
                    else
                        .text-danger Select a subject first!

                .col-md-7
                    if selectedTeacher
                        h2 #{selectedTeacher['name']}'s Schedule
                        .container-fluid.mb-0
                            .row
                                .col-md-12
                                    .text-success(data-toggle='tooltip', data-placement='right', title='Choose colored area!')
                                        span
                                            label Results for #{selectedSubject.credits} needed credits.
                                            label.text-danger Note that no matter what was your selection, this teacher's time-table will be used in exactly the same Day and Period as ones in this subject.
                    if (weekDetails && (where.length!== 0) && (whereDay.length!==0))
                        form(action='/school/searchForTeacher/searchForWeek/assign', method='POST')
                            .form-group
                                input(type='hidden', name='_csrf', value=csrfToken)
                                input(type='hidden', name='chooseThisSubjectID', value=parseInt(selectedSubject['id_sub']))
                                input(type='hidden', name='chooseThisTeacherID', value=selectedTeacher['id'])
                                input(type='hidden', name='chooseThisTeacherName', value=selectedTeacher['name'])
                                input(type='hidden', name='chooseThisCredit', value=parseInt(selectedSubject['credits']))
                                input(type='hidden', name='chooseTheseTeachers', value=teachers)
                                if (selectedSubject['lecturer'] && selectedSubject['lecturerID'] && selectedSubject['whichDay'] && selectedSubject['whichPeriod'])
                                    input(type='hidden', name='existedTeacher', value=selectedSubject['lecturer'])
                                    input(type='hidden', name='existedTeacherID', value=selectedSubject['lecturerID'])
                                    input(type='hidden', name='existedDay', value=selectedSubject['whichDay'])
                                    input(type='hidden', name='existedPeriod', value=parseInt(selectedSubject['whichPeriod']))
                                .table-responsive.px-3.table-hover
                                    table.table(style='text-align: center;')
                                        tr.table-secondary
                                            th Mon
                                            th Tue
                                            th Wed
                                            th Thu
                                            th Fri
                                            th Sat
                                            th Sun

                                        - var count = 0
                                        - var idGenerate = 0
                                        - var randomColor = '#' + Math.floor(Math.random()*16777215).toString(16) + ';';
                                        - var whatPeriod = 1

                                        each weekDay in weekDetails
                                          tr(style='color: white; text-shadow: 0 0 3px #000000, 0 0 5px #FFFF00;')
                                              if (weekDay['0'] !== undefined)
                                                  td.myCell(rowspan=weekDay['0'] === 0 ? where[count].toString(): '1', style=weekDay['0'] === 0 ? ('background-color: ' + randomColor): 'cursor: not-allowed;')
                                                      if (weekDay['0'] === 1)
                                                          div
                                                      else
                                                          h2 #{whereDay[count]}
                                                          .custom-control.custom-radio.custom-control-inline(hidden)
                                                              input.custom-control-input(type='radio', name='selectThis', id=idGenerate.toString(), value=[selectedSubject.whichDay, selectedSubject.whichPeriod[0]], checked=idGenerate === 0)
                                                              label.custom-control-label(for=idGenerate.toString()) #{whatPeriod}-#{whatPeriod + parseInt(selectedSubject.credits) - 1}
                                                          - idGenerate++
                                                          if (where[count] > selectedSubject.credits)
                                                              .custom-control.custom-radio.custom-control-inline(hidden)
                                                                  input.custom-control-input(type='radio', name='selectThis', id=idGenerate.toString(), value=[selectedSubject.whichDay, selectedSubject.whichPeriod[0]])
                                                                  label.custom-control-label(for=idGenerate.toString()) #{whatPeriod + where[count] - selectedSubject.credits}-#{whatPeriod + where[count] - 1}
                                                          - idGenerate++
                                                          - randomColor = '#' + Math.floor(Math.random()*16777215).toString(16) + ';'
                                              if (weekDay['1'] !== undefined)
                                                  td.myCell(rowspan=weekDay['1'] === 0 ? where[(1 + count)].toString(): '1', style=weekDay['1'] === 0 ? ('background-color: ' + randomColor): 'cursor: not-allowed;')
                                                      if (weekDay['1'] === 1)
                                                          div
                                                      else
                                                          h2 #{whereDay[count + 1]}
                                                          .custom-control.custom-radio.custom-control-inline(hidden)
                                                              input.custom-control-input(type='radio', name='selectThis', id=idGenerate.toString(), value=[selectedSubject.whichDay, selectedSubject.whichPeriod[0]], checked=idGenerate === 0)
                                                              label.custom-control-label(for=idGenerate.toString()) #{whatPeriod}-#{whatPeriod + parseInt(selectedSubject.credits) - 1}
                                                          - idGenerate++
                                                          if (where[count + 1] > selectedSubject.credits)
                                                              .custom-control.custom-radio.custom-control-inline(hidden)
                                                                  input.custom-control-input(type='radio', name='selectThis', id=idGenerate.toString(), value=[selectedSubject.whichDay, selectedSubject.whichPeriod[0]])
                                                                  label.custom-control-label(for=idGenerate.toString()) #{whatPeriod + where[count + 1] - selectedSubject.credits}-#{whatPeriod + where[count + 1] - 1}
                                                          - idGenerate++
                                                          - randomColor = '#' + Math.floor(Math.random()*16777215).toString(16) + ';'
                                              if (weekDay['2'] !== undefined)
                                                  td.myCell(rowspan=weekDay['2'] === 0 ? where[(2 + count)].toString(): '1', style=weekDay['2'] === 0 ? ('background-color: ' + randomColor): 'cursor: not-allowed;')
                                                      if (weekDay['2'] === 1)
                                                          div
                                                      else
                                                          h2 #{whereDay[count + 2]}
                                                          .custom-control.custom-radio.custom-control-inline(hidden)
                                                              input.custom-control-input(type='radio', name='selectThis', id=idGenerate.toString(), value=[selectedSubject.whichDay, selectedSubject.whichPeriod[0]], checked=idGenerate === 0)
                                                              label.custom-control-label(for=idGenerate.toString()) #{whatPeriod}-#{whatPeriod + parseInt(selectedSubject.credits) - 1}
                                                          - idGenerate++
                                                          if (where[count + 2] > selectedSubject.credits)
                                                              .custom-control.custom-radio.custom-control-inline(hidden)
                                                                  input.custom-control-input(type='radio', name='selectThis', id=idGenerate.toString(), value=[selectedSubject.whichDay, selectedSubject.whichPeriod[0]])
                                                                  label.custom-control-label(for=idGenerate.toString()) #{whatPeriod + where[count + 2] - selectedSubject.credits}-#{whatPeriod + where[count + 2] - 1}
                                                          - idGenerate++
                                                          - randomColor = '#' + Math.floor(Math.random()*16777215).toString(16) + ';'
                                              if (weekDay['3'] !== undefined)
                                                  td.myCell(rowspan=weekDay['3'] === 0 ? where[(3 + count)].toString(): '1', style=weekDay['3'] === 0 ? ('background-color: ' + randomColor): 'cursor: not-allowed;')
                                                      if (weekDay['3'] === 1)
                                                          div
                                                      else
                                                          h2 #{whereDay[count + 3]}
                                                          .custom-control.custom-radio.custom-control-inline(hidden)
                                                              input.custom-control-input(type='radio', name='selectThis', id=idGenerate.toString(), value=[selectedSubject.whichDay, selectedSubject.whichPeriod[0]], checked=idGenerate === 0)
                                                              label.custom-control-label(for=idGenerate.toString()) #{whatPeriod}-#{whatPeriod + parseInt(selectedSubject.credits) - 1}
                                                          - idGenerate++
                                                          if (where[count + 3] > selectedSubject.credits)
                                                              .custom-control.custom-radio.custom-control-inline(hidden)
                                                                  input.custom-control-input(type='radio', name='selectThis', id=idGenerate.toString(), value=[selectedSubject.whichDay, selectedSubject.whichPeriod[0]])
                                                                  label.custom-control-label(for=idGenerate.toString()) #{whatPeriod + where[count + 3] - selectedSubject.credits}-#{whatPeriod + where[count + 3] - 1}
                                                          - idGenerate++
                                                          - randomColor = '#' + Math.floor(Math.random()*16777215).toString(16) + ';'
                                              if (weekDay['4'] !== undefined)
                                                  td.myCell(rowspan=weekDay['4'] === 0 ? where[(4 + count)].toString(): '1', style=weekDay['4'] === 0 ? ('background-color: ' + randomColor): 'cursor: not-allowed;')
                                                      if (weekDay['4'] === 1)
                                                          div
                                                      else
                                                          h2 #{whereDay[count + 4]}
                                                          .custom-control.custom-radio.custom-control-inline(hidden)
                                                              input.custom-control-input(type='radio', name='selectThis', id=idGenerate.toString(), value=[selectedSubject.whichDay, selectedSubject.whichPeriod[0]], checked=idGenerate === 0)
                                                              label.custom-control-label(for=idGenerate.toString()) #{whatPeriod}-#{whatPeriod + parseInt(selectedSubject.credits) - 1}
                                                          - idGenerate++
                                                          if (where[count + 4] > selectedSubject.credits)
                                                              .custom-control.custom-radio.custom-control-inline(hidden)
                                                                  input.custom-control-input(type='radio', name='selectThis', id=idGenerate.toString(), value=[selectedSubject.whichDay, selectedSubject.whichPeriod[0]])
                                                                  label.custom-control-label(for=idGenerate.toString()) #{whatPeriod + where[count + 4] - selectedSubject.credits}-#{whatPeriod + where[count + 4] - 1}
                                                          - idGenerate++
                                                          - randomColor = '#' + Math.floor(Math.random()*16777215).toString(16) + ';'
                                              if (weekDay['5'] !== undefined)
                                                  td.myCell(rowspan=weekDay['5'] === 0 ? where[(5 + count)].toString(): '1', style=weekDay['5'] === 0 ? ('background-color: ' + randomColor): 'cursor: not-allowed;')
                                                      if (weekDay['5'] === 1)
                                                          div
                                                      else
                                                          h2 #{whereDay[count + 5]}
                                                          .custom-control.custom-radio.custom-control-inline(hidden)
                                                              input.custom-control-input(type='radio', name='selectThis', id=idGenerate.toString(), value=[selectedSubject.whichDay, selectedSubject.whichPeriod[0]], checked=idGenerate === 0)
                                                              label.custom-control-label(for=idGenerate.toString()) #{whatPeriod}-#{whatPeriod + parseInt(selectedSubject.credits) - 1}
                                                          - idGenerate++
                                                          if (where[count + 5] > selectedSubject.credits)
                                                              .custom-control.custom-radio.custom-control-inline(hidden)
                                                                  input.custom-control-input(type='radio', name='selectThis', id=idGenerate.toString(), value=[selectedSubject.whichDay, selectedSubject.whichPeriod[0]])
                                                                  label.custom-control-label(for=idGenerate.toString()) #{whatPeriod + where[count + 5] - selectedSubject.credits}-#{whatPeriod + where[count + 5] - 1}
                                                          - idGenerate++
                                                          - randomColor = '#' + Math.floor(Math.random()*16777215).toString(16) + ';'
                                              if (weekDay['6'] !== undefined)
                                                  td.myCell(rowspan=weekDay['6'] === 0 ? where[(6 + count)].toString(): '1', style=weekDay['6'] === 0 ? ('background-color: ' + randomColor): 'cursor: not-allowed;')
                                                      if (weekDay['6'] === 1)
                                                          div
                                                      else
                                                          h2 #{whereDay[count + 6]}
                                                          .custom-control.custom-radio.custom-control-inline(hidden)
                                                              input.custom-control-input(type='radio', name='selectThis', id=idGenerate.toString(), value=[selectedSubject.whichDay, selectedSubject.whichPeriod[0]], checked=idGenerate === 0)
                                                              label.custom-control-label(for=idGenerate.toString()) #{whatPeriod}-#{whatPeriod + parseInt(selectedSubject.credits) - 1}
                                                          - idGenerate++
                                                          if (where[count + 6] > selectedSubject.credits)
                                                              .custom-control.custom-radio.custom-control-inline(hidden)
                                                                  input.custom-control-input(type='radio', name='selectThis', id=idGenerate.toString(), value=[selectedSubject.whichDay, selectedSubject.whichPeriod[0]])
                                                                  label.custom-control-label(for=idGenerate.toString()) #{whatPeriod + where[count + 6] - selectedSubject.credits}-#{whatPeriod + where[count + 6] - 1}
                                                          - idGenerate++
                                                          - randomColor = '#' + Math.floor(Math.random()*16777215).toString(16) + ';'

                                          - count = count + weekDay.length
                                          - whatPeriod++
                            button.btn.btn-danger.form-inline(type='submit', style='float: right;', data-toggle='tooltip', data-placement='left', title='Submit request.') ➤