extends ../layouts/common

block content
    script.
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    h1 Assign Subjects To Rooms
    hr(style="background-color: lightgray;")
    .container-fluid.my-5
        .row
            .col-md-4(style='border-right: 1px solid gray;')
                h2 Select subject
                form(action="/school/searchForRoom", method="POST", hidden=!!selectedSubject)
                    .form-group
                        input(type='hidden', name='_csrf', value=csrfToken)
                        label.text-success(for='exampleFormControlSelect1', data-toggle='tooltip', data-placement='right', title=subjects.length + ' subjects found!') Available: #{subjects.length}
                        select#exampleFormControlSelect1.form-control(size='5', style='overflow-x: scroll;', name='sub')
                            each subject in subjects
                                option(value=subject, selected=selectedSubject ? (selectedSubject['id_sub'] === subject.id_sub): false )= 'ID: '+ subject.id_sub + '; Name: ' + subject.name_sub
                    button.btn.btn-primary.form-inline(type='submit', style='float: right;') ☕
                if selectedSubject
                    span
                        small.text-success.font-weight-bold(style='font-size: large;') #{selectedSubject.name_sub}.
                            //button.btn-sm
                        a(type='button', href='/school/createSubject', data-toggle='tooltip', data-placement='right', title='Reset', style='float: right; text-decoration: none;') 🔄
                    br
                    small.text-danger(style='font-size: medium') ID: #{selectedSubject.id_sub}
                    br
                    small.text-danger(style='font-size: medium') Type: #{selectedSubject.type}
                    br
                    small.text-danger(style='font-size: medium') Credits: #{selectedSubject.credits}
                    br
                    small.text-danger(style='font-size: medium') Start: #{selectedSubject.start}
                    br
                    small.text-danger(style='font-size: medium') End: #{selectedSubject.end}
            .col-md-2(style='border-right: 1px solid gray;')
                h2 Room
                if rooms
                    form(action="/school/searchForRoom/searchForWeek", method="POST")

                        .form-group
                            input(type='hidden', name='_csrf', value=csrfToken)
                            input(type='hidden', name='sub', value=selectedSubject)
                            input(type='hidden', name='list_room', value=rooms)
                            .text-success(data-toggle='tooltip', data-placement='right', title=rooms.length + ' rooms found!')
                                label(for='exampleFormControlSelect2') Available: #{rooms.length}

                            select#exampleFormControlSelect2.form-control(size='5', style='overflow-x: scroll;', name='roo')
                              each room in rooms
                                option(value=room, selected=selectedRoom ? (selectedRoom['id'] === room.id): false)= 'ID: '+ room.id + '; Room: ' + room['room']
                            input(type='hidden', name='subject', value=selectedSubject ? selectedSubject : '')
                        button.btn.btn-primary.form-inline(type='submit', style='float: right;') ☕
                else
                    .text-danger Select a subject first!

            .col-md-6
                h2 Current status
                if selectedRoom
                    .container-fluid.mb-0
                        .row
                            .col-md-6
                                .text-success(data-toggle='tooltip', data-placement='right', title='Room slots are found in green!')
                                    label Results for #{selectedSubject.credits} credits needed
                if (weekDetails && where)
                    .table-responsive
                        table.table.table-hover#schedule(style='text-align: center;')
                            tr.table-secondary
                                th Mon
                                th Tue
                                th Wed
                                th Thu
                                th Fri
                                th Sat
                                th Sun
                            - var count = 0
                            each weekDay in weekDetails
                              tr
                                if (weekDay['0'] !== undefined)
                                  td(rowspan=weekDay['0'] === 0 ? where[count].toString(): '1')= weekDay['0'] === 1 ? '⛔': (weekDay['0'] === 0 ? '✅': '')
                                if (weekDay['1'] !== undefined)
                                  td(rowspan=weekDay['1'] === 0 ? where[(1 + count)].toString(): '1')= weekDay['1'] === 1 ? '⛔': (weekDay['1'] === 0 ? '✅': '')
                                if (weekDay['2'] !== undefined)
                                  td(rowspan=weekDay['2'] === 0 ? where[(2 + count)].toString(): '1')= weekDay['2'] === 1 ? '⛔': (weekDay['2'] === 0 ? '✅': '')
                                if (weekDay['3'] !== undefined)
                                  td(rowspan=weekDay['3'] === 0 ? where[(3 + count)].toString(): '1')= weekDay['3'] === 1 ? '⛔': (weekDay['3'] === 0 ? '✅': '')
                                if (weekDay['4'] !== undefined)
                                  td(rowspan=weekDay['4'] === 0 ? where[(4 + count)].toString(): '1')= weekDay['4'] === 1 ? '⛔': (weekDay['4'] === 0 ? '✅': '')
                                if (weekDay['5'] !== undefined)
                                  td(rowspan=weekDay['5'] === 0 ? where[(5 + count)].toString(): '1')= weekDay['5'] === 1 ? '⛔': (weekDay['5'] === 0 ? '✅': '')
                                if (weekDay['6'] !== undefined)
                                  td(colspan=weekDay['6'] === 0 ? where[(6 + count)].toString(): '1')= weekDay['6'] === 1 ? '⛔': (weekDay['6'] === 0 ? '✅': '')
                              - count = count + weekDay.length