extends ../layouts/common

block content
    script.
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    h1 Assign Subjects To Rooms
    hr(style="background-color: lightgray;")
    .container-fluid.my-5
        .row
            .col-md-4(style='border-right: 1px solid gray;')
                h2 Select subject
                form(action="/school/searchForRoom", method="POST")
                    .form-group
                        input(type='hidden', name='_csrf', value=csrfToken)
                        label(for='exampleFormControlSelect1') Available
                        select#exampleFormControlSelect1.form-control(size='5', style='overflow-x: scroll;', name='sub')
                            each subject in subjects
                                option(value=subject, selected=selectedSubject ? (selectedSubject['id_sub'] === subject.id_sub): false )= 'ID: '+ subject.id_sub + '; Name: ' + subject.name_sub
                    button.btn.btn-primary.form-inline(type='submit', style='float: right;') ☕
            .col-md-2(style='border-right: 1px solid gray;')
                h2 Room
                if rooms
                    form(action="/school/searchForRoom/searchForWeek", method="POST")

                        .form-group
                            input(type='hidden', name='_csrf', value=csrfToken)
                            input(type='hidden', name='sub', value=selectedSubject)
                            input(type='hidden', name='list_room', value=rooms)
                            .text-success(data-toggle='tooltip', data-placement='right', title=rooms.length + ' rooms found!')
                                label(for='exampleFormControlSelect2') Available #{rooms.length} rooms

                            select#exampleFormControlSelect2.form-control(size='5', style='overflow-x: scroll;', name='roo')
                              each room in rooms
                                option(value=room, selected=selectedRoom ? (selectedRoom['id'] === room.id): false)= 'ID: '+ room.id + '; Room: ' + room['room']
                            input(type='hidden', name='subject', value=selectedSubject ? selectedSubject : '')
                        button.btn.btn-primary.form-inline(type='submit', style='float: right;') ☕
                else
                    .text-danger Select a subject first!

            .col-md-6
                h2 Current status
                if weekDetails
                    .table-responsive
                        table.table.mt-3.table-hover(style='text-align: center;')
                            tr.table-secondary
                                th Mon
                                th Tue
                                th Wed
                                th Thu
                                th Fri
                                th Sat
                                th Sun
                            each weekDay in weekDetails
                              tr
                                  td= weekDay['0'] === 1 ? '⛔' : '✅'
                                  td= weekDay['1'] === 1 ? '⛔' : '✅'
                                  td= weekDay['2'] === 1 ? '⛔' : '✅'
                                  td= weekDay['3'] === 1 ? '⛔' : '✅'
                                  td= weekDay['4'] === 1 ? '⛔' : '✅'
                                  td= weekDay['5'] === 1 ? '⛔' : '✅'
                                  td= weekDay['6'] === 1 ? '⛔' : '✅'


